@model BeeBot.Models.BotUserSettings

<h2>Bot controls</h2>
<hr />
<div class="card card-body bg-light">
<div class="row " style="display: none;">
    <div class="col-md-12">
        <button id="botConnectButton" type="button" class="btn btn-success wide" data-username="@Model.BotUsername" data-password="@Model.BotPassword" data-channel="@Model.BotChannel"><i class="fa fa-play"></i> Connect</button>
    </div>
</div>
<div class="row" style="display: none;">
    <div class="col-md-12">
        <button id="botDisconnectButton" type="button" class="btn btn-danger wide"><i class="fa fa-stop"></i> Disconnect</button>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <button id="botReconnectButton" type="button " class="btn btn-dark wide" data-username="@Model.BotUsername" data-password="@Model.BotPassword" data-channel="@Model.BotChannel"><i class="fa fa-refresh"></i> Re-connect</button>
    </div>
</div>


<br />

<h2>Console</h2>
<div class="row">
    <div class="col-md-12">
        <div class="console">

        </div>
    </div>
</div>

</div>


<script type="text/javascript">

    $(document).ready(function () {

    });

    var twitchHub = $.connection.twitchHub;

    (function() {

        $.connection.hub.logging = true;

        twitchHub.client.ConsoleLog = function(log) {
            console.log(log);
            $(".console").append(log + "<br>");
            var objDiv = document.getElementsByClassName("console")[0];
            objDiv.scrollTop = objDiv.scrollHeight;
        };



        // Start the hub
        $.connection.hub.start().done(function() {
            $(".statusloader").toggleClass("dontshow");
            $.connection.twitchHub.server.botStatus("test", "test", "test");
            $.connection.twitchHub.server.getConsoleLog();
        });

        twitchHub.client.loadConsoleLog = function (log) {
            $.each(log, function (i, element) {
                $(".console").append(element + "<br>");
            });
            $(".console").animate({ scrollTop: $('.console').prop("scrollHeight") }, 1000);
        };
        
        $.connection.hub.error(function (error) {
            console.log('SignalR error: ' + error);
        });

        twitchHub.client.onconnected = function() {
            console.log("onconnected...");
        };

        //Button click jquery handler
        $("#botConnectButton").click(function() {
            var username = $(this).data("username");
            var password = $(this).data("password");
            var channel = $(this).data("channel");

            twitchHub.server.connectBot(username, password, channel);

        });

        $("#botReconnectButton").click(function() {
            var username = $(this).data("username");
            var password = $(this).data("password");
            var channel = $(this).data("channel");

            twitchHub.server.reconnect(username, password, channel);

        });

    })()
</script>


