@model BeeBot.Models.PrefViewModel

@{
    
}

<h2>Bot and channel preferences</h2>

<div class="col-md">
    <form id="prefForm" class="form-horizontal">
        <fieldset>

            <!-- Form Name -->
            <legend>Login credentials</legend>
            
            @if (ViewBag.Message != null)
            {
                <div class="alert alert-warning" role="alert">
                    ViewBag.Message
                </div>
            }
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="botusername">Bot username</label>
                <div class="col-md-8">
                    <input id="botusername" name="botusername" type="text" placeholder="username" class="form-control input-md" required="required" value="@Model.username">

                </div>
            </div>

            <!-- Password input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="passwordinput">Bot Oauth code</label>
                <div class="col-md-8">
                    <input id="passwordinput" name="passwordinput" type="password" placeholder="password" class="form-control input-md" required="required" value="@Model.password">
                    <span class="help-block">oauth:password. </span>
                    <span class="help-block">Log in to twitch with your <b>bot</b> and click <a href="https://twitchapps.com/tmi/" target="_blank">here</a> to generate an oauth token.</span>
                </div>
            </div>

            <legend>Channel</legend>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="channel">Channel</label>
                <div class="col-md-8">
                    <input id="channel" name="Channel" type="text" placeholder="channel" class="form-control input-md" required="required" value="@Model.channel">

                </div>
            </div>
            
            @* https://twitchtokengenerator.com/ *@
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="channel">Channel token</label>
                <div class="col-md-8">
                    <input id="channelToken" name="ChannelToken" type="password" placeholder="token" class="form-control input-md" required="required" value="@Model.channelToken">
                    <span class="help-block">Token from channel owner. </span>
                    <span class="help-block">Log in to twitch with your <b>Twitch user</b> (channel owner) and click <a href="https://twitchtokengenerator.com/" target="_blank">here</a> to generate an oauth token. </span>
                    <span class="help-block">You need the <b>user_read</b> and <b>channel_editor</b> to be able to change stream title, game and delay.</span>
                </div>
            </div>


            <!-- Button -->
            <div class="form-group">
                <div class="col-md-4">
                    <button id="savebutton" name="savebutton" class="btn btn-secondary" type="button"><i class="fa fa-floppy-o"></i> Save</button>
                </div>
            </div>

        </fieldset>
    </form>

</div>

<script type="text/javascript">
    $(document).ready(function () {

        $("#savebutton").click(function (e) {

            var vaules = $("#prefForm").serialize();
            e.preventDefault();


            $.ajax({
                type: "POST",
                url: "@Url.Action("PreferencesSave")",
                data: vaules,
                dataType: "json",
                success: function (response) {
                    $.amaran({
                        'theme': 'awesome ok',
                        'message'   : response.message,
                        'position'  :'bottom right'
                    });

                    window.location = "@Url.Action("Index")";
                },
                error: function(response) {
                    $.amaran({
                        'theme': 'awesome error',
                        'message'   : response.message,
                        'position'  :'bottom right'
                    });
                    window.location = "@Url.Action("Index")";
                }
            });



        });
    });

</script>